@font-face {
    font-family: Lato;
    font-weight: normal;
    src:url('../fonts/site/Lato-Regular.ttf.ttf') format('truetype'),
        url('../fonts/site/UTMBebas.woff') format('woff'),
        url('../fonts/site/UTMBebas.eot') format("embedded-opentype");
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src:url('../fonts/site/Lato-Bold.ttf.ttf') format('truetype'),
        url('../fonts/site/UTM-Avo.woff') format('woff'),
        url('../fonts/site/UTM-Avo.eot') format("embedded-opentype");
}

@font-face {
    font-family: Lato;
    font-weight: italic;
    src:url('../fonts/site/Lato-Italic.ttf') format('truetype'),
        url('../fonts/site/UTM-AvoBold.woff') format('woff'),
        url('../fonts/site/UTM-AvoBold.eot') format("embedded-opentype");
}

@font-face {
    font-family: "Lato Black";
    font-weight: normal;
    src:url('../fonts/site/Lato-Black.ttf') format('truetype'),
        url('../fonts/site/VNF-Bodoni-Regular.woff') format('woff'),
        url('../fonts/site/VNF-Bodoni-Regular.eot') format("embedded-opentype");
}

@font-face {
    font-family: "Lato Heavy";
    font-weight: normal;
    src:url('../fonts/site/Lato-Heavy.ttf') format('truetype'),
        url('../fonts/site/VNF-Bodoni-Regular.woff') format('woff'),
        url('../fonts/site/VNF-Bodoni-Regular.eot') format("embedded-opentype");
}

@font-face {
    font-family: "Lato Medium";
    font-weight: normal;
    src:url('../fonts/site/Lato-Medium.ttf') format('truetype'),
        url('../fonts/site/VNF-Bodoni-Regular.woff') format('woff'),
        url('../fonts/site/VNF-Bodoni-Regular.eot') format("embedded-opentype");
}

@font-face {
    font-family: "TT Serif";
    font-style: italic;
    src:url('./fonts/site/TT-Serif-Regular.ttf') format('truetype'),
        url('../fonts/site/VNF-Bodoni-Regular.woff') format('woff'),
        url('../fonts/site/VNF-Bodoni-Regular.eot') format("embedded-opentype");
}

@font-face {
    font-family: "TT Serif";
    font-weight: bold;
    src:url('../fonts/site/TT-Serif-Bold.ttf.ttf') format('truetype'),
        url('../fonts/site/Roboto-Black.woff') format('woff'),
        url('../fonts/site/Roboto-Black.eot') format("embedded-opentype");
}

body {font-family: "Lato Heavy", Arial;font-size: 12px;color: #333;background: #f5f5f6;line-height: 18px;text-align: center; font-style: normal;}
img {max-width: 100%; height: auto !important;}

.wrap {width: 100%; max-width: 1170px}
.wrap-1100 {width: 100%; max-width: 1100px; }
.wrap-1168 {width: 100%; max-width: 1168px; }
.wrap-1200 {width: 100%; max-width: 1168px; }

.wrap, .wrap-1100, .wrap-1168, .wrap-1200 {text-align: left; margin: 0 auto;}

a, a:hover {text-decoration: none !important;}
a {color: #333;}
a:hover {color: #ff0017;}

input[type=text]:focus, textarea:focus, .form-control:focus {
    outline: none !important; 
    box-shadow: 1px 1px 1px #ccc !important; 
    text-shadow: none !important; 
    box-shadow: none !important;
}

h1, h2, h3 {margin: 0; padding: 0; font-weight: bold; font-size: 14px; line-height: 18px;}

.np {padding: 0 !important;}
.radius {border-radius: 8px;}
.transition {transition: all .3s linear; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; -ms-transition: all .3s linear;}
.grayscale { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}
.round {border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/*animated arrow animattion*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

.nivo-caption {display: none !important;}
.nivo-wrap {margin-bottom: 25px;}
.nivoSlider {position: relative;}

.nivo-prevNav, .nivo-nextNav {position: absolute; z-index:999; width: 55px; height: 72px;}
.nivo-prevNav {background: url('../img/arrow_banner.png') no-repeat 0 0; left: 0;}
.nivo-nextNav {background: url('../img/arrow_banner.png') no-repeat -55px 0; right: 0;}
.nivo-prevNav:hover {background: url('../img/arrow_banner.png') no-repeat 0 0;}
.nivo-nextNav:hover {background: url('../img/arrow_banner.png') no-repeat -55px 0;} 

.hide-nivo-navcontrol {
    -moz-opacity: 0;
    opacity: 0;
    -moz-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
}

#slider-wrap {position: relative;margin-bottom: 15px;}
.nivo-controlNav {position: absolute; bottom: 5px; z-index: 9999; width: 100%; text-align: center;}
.nivo-controlNav a {width: 16px; height: 16px; background: #fff; display: inline-block; border-radius: 50%; border: 1px solid #6d4c3a; text-indent: -99999px; margin-right: 2px; margin-left: 2px;}
.nivo-controlNav a.active {width: 16px; height: 16px; background: #ffa71b; display: inline-block; border-radius: 50%; border: 1px solid #6d4c3a; text-indent: -99999px;}

.jcarousel-control-prev, .jcarousel-control-next {width: 24px; height: 24px; z-index: 99;}
.jcarousel-control-prev {left: auto; right: 26px;}
.jcarousel-control-next {right: 0;}

.mm-slideout { z-index:auto ;}
.mm-panel {text-align: left}

.pagination {text-align: center; width: 100%; margin: 30px 0 48px 0; padding-right: 16px;}
.pagination span {border: 1px solid #c1c2c4;background: #fff;padding: 5px 9px;margin-right: 4px;border-radius: 0;}
.pagination span a {color: #333;}
.pagination span.current {border: 1px solid #fdb914;background: #fdb914;color: #333;}
.pagination span:last-child {margin-right: 0;}

.adm-glyphicon .glyphicon {font-size: 12px; margin: 0; padding: 0;}
.totop {display: none; position: fixed; bottom: 110px; right: 8px; cursor: pointer; }

.mobile-menu-icon, .mobile-menu-icon:hover, .mobile-menu-icon:visited {/* position: absolute; *//* top: 15px; *//* left: 10px; */font-size: 24px;color: #fff;display: none;float: right;margin-left: 15px;}
.mobile-menu-icon .fa {padding-top: 10px;}
.mobile-cart-icon {position: absolute; top: 15px; right: 10px;}

.breadcrumb {margin: 0; padding: 0; margin-bottom: 40px; width: 100%; float: left;}
.breadcrumb ul {list-style: none; margin-top: 34px; padding: 0;}
.breadcrumb li {float: left; text-transform: uppercase;}
.breadcrumb li a {padding: 0;}
.breadcrumb li:after {content: "/"}
.breadcrumb li:last-child:after {content: "";}
/*Body*/

.header {background: #571b00 url('../img/headerbg.png') repeat-x 0 0;}
.banner {background: url('../img/bannerbg.png') no-repeat 100% 50%, url('../img/bannerbgy.png') repeat-y 100% 50%;position: relative; background-color: #fbaf17;}
.menu {position: absolute;bottom: -49px;z-index: 999;background: #fff;height: 49px;line-height: 49px;width: 100%;left: 0;}
.menu ul {list-style: none; width: 100%; padding: 0; margin: 0;}
.menu li {float: left; padding: 0 35px; position: relative;}
.menu li a:hover {color: #ff9933}
.menu ul ul {position: absolute;width: 170px;background: #fff;top: 48px;padding: 0;margin: 0; display: none;}
.menu ul ul li {border-bottom: 1px solid #eee;width: 100%;line-height: 32px;}
.menu li:hover ul {display: block;}

.nav .nav-item {background: none;border: none;color: #fff;height: 46px;text-transform: uppercase; position: relative; line-height: 46px; background: url('../img/dropdown.png') no-repeat 100% 19px; display: inline-block; padding-right: 25px; cursor:pointer;}
.nav .nav-list {position: absolute; top: 46px; z-index: 9; background: #fff;}
/* .nav .nav-item:hover .nav-list {display: block;} */
.nav .nav-list ul {list-style: none;/* width: 250px; */float: left;padding: 0;text-align: left;margin: 0;padding-top: 5px;padding-bottom: 3px;}
.nav .nav-list li {float: left;width: 100%;padding-top: 3px;padding-bottom: 3px; line-height: 20px; text-transform: none;}
.nav .nav-list li a {padding-left: 10px;}


.menu-search-box li {float: right; position: relative; }
.menu-search-box li img {cursor: pointer;}
.menu-search-box form {position: absolute;right: 6px;top: 8px;max-width: 220px;height: 32px;display: none;width: 220px;}
.menu-search-box li:hover form {display: block;}
.menu-search-box .form-items {position: relative;width: 100%;height: 32px;position: relative;}
.menu-search-box .sinput {width: 100%;height: 32px;border: 1px solid #eee;padding-left: 25px;}
.menu-search-box .ssubmit {position: absolute;top: 0;left: 0;border: none;height: 32px;padding: 0 10px;margin: 0;line-height: 32px;background: url('../img/look.png') no-repeat 7px 50%;text-indent: -9999px;}

.header-logo {margin-top: 28px; margin-left: 35px; margin-bottom: 25px;}
.menu-content {padding-left: 15px !important;}

.nivoSlider {border-bottom: 15px solid #fdb813;}

.nivo-title {display: none !important; width: 900px; left: 50%; margin-left: -450px; height: 184px; background: rgba(0,0,0,.7); bottom: 0; top: auto; color: #fff; line-height: 23px; font-size: 17px; padding-top: 40px; padding-left: 180px; padding-right: 180px;}

.htab {text-align: center; padding-bottom: 24px; padding-top: 25px; margin-top: 20px; font-size: 21px; background: url('../img/htab.png') no-repeat 50% 100%; }
.home-kd ul {list-style: none;}
.home-kd li {float: left; width: 14%; margin-bottom: 88px; margin-top: 65px; text-align: center;}
.home-kd li img {margin-bottom: 12px;}
.home-kd li a {color: #762F0B;}

.news-jcarousel-wrap {position: relative;}
.news-jcarousel-wrap .jcarousel-control-prev, .news-jcarousel-wrap .jcarousel-control-next {top: 23%;}
.news-jcarousel-wrap .jcarousel-control-prev {background: url('../img/njprev.png') no-repeat 0 0; width: 62px; height: 180px; left: 0;}
.news-jcarousel-wrap .jcarousel-control-next {background: url('../img/njnext.png') no-repeat 0 0; width: 62px; height: 180px; right: 0; left: auto;}

.home-news-jcarousel {margin-top: 70px; margin-bottom: 100px;}
.home-news-jcarousel img {margin-bottom: 10px;}
.home-news-jcarousel h3 {padding: 0 10px 12px 10px;}
.home-news-jcarousel .jitem {background: #fff; width: 97%;}
.home-news-jcarousel .jitem img {width: 100%;}

.htbn-ind {color: #762f0b;}

.home-info-carousel {background: url('../img/bg.png') no-repeat 0 0;}

.citem-head {margin-top: 100px; margin-bottom: 40px; text-transform: uppercase;}
.citem-title {padding-bottom: 40px; background: url('../img/htab.png') no-repeat 0 100%; margin-bottom: 44px; font-size: 35px; max-width: 700px; line-height: 40px;}
.citem-des {margin-bottom: 50px; 46px; max-width: 320px;}
.citem-btn {margin-bottom: 315px;}
.citem-down, .citem-readmore {height: 40px; line-height: 40px; padding: 0 20px; text-transform: uppercase;display: inline-block; color: #fff;}
.citem-readmore {background: #762f0b;}
.citem-down {background: #fdb813;}

.htab1 {margin-bottom: 23px; text-transform: uppercase; color: #762F0B; font-size: 15px;}
.htab2 {color: #762F0B; text-transform: uppercase;}

.proj-jcarousel-wrap {margin-top: 85px;}
.proj-jcarousel-wrap .jitem {position: relative; width: 96%; overflow: hidden;}
.proj-jcarousel-wrap .jitem img {width: 100%;}
.proj-jcarousel-wrap .overlay {position: absolute; top: 0; left: 0; background: rgba(0,0,0,.7); display: block; width: 100%; height: 100%; color: #fff; display: none;}
.proj-jcarousel-wrap .jitem:hover .overlay {display: block;}
.proj-jcarousel-wrap h3 {margin-top: 60%; text-align: center; text-transform: uppercase; width: 100%; float: left;}
.proj-jcarousel-wrap a {text-align: center; width: 100%; float: left; margin-top: 30%; color: #fff; text-transform: uppercase;}
.proj-jcarousel-wrap a span {display: inline-block; height: 34px; line-height: 34px; background: #fdb813; padding: 0 20px;}

.proj-jcarousel-wrap {position: relative; margin-bottom: 100px;}
.proj-jcarousel-wrap .jcarousel-control-prev, .proj-jcarousel-wrap .jcarousel-control-next {top: 25%; margin-top: 0;}
.proj-jcarousel-wrap .jcarousel-control-prev {background: url('../img/njprev.png') no-repeat 0 0; width: 62px; height: 180px; left: 0;}
.proj-jcarousel-wrap .jcarousel-control-next {background: url('../img/njnext.png') no-repeat 0 0; width: 62px; height: 180px; right: 0; left: auto;}


.partner-jcarousel-wrap {position: relative; margin-bottom: 50px; margin-top: 50px;}
.partner-jcarousel-wrap .jitem {width: 60%; margin: 0 auto;}
.partner-jcarousel-wrap .jcarousel-control-prev, .partner-jcarousel-wrap .jcarousel-control-next {top: 25%; margin-top: 0; background: url('../img/direction.png') no-repeat 0 0; width: 30px; height: 30px;}
.partner-jcarousel-wrap .jcarousel-control-prev {background-position: 0 0; left: 0;}
.partner-jcarousel-wrap .jcarousel-control-next {background-position: -86px 0;right: 0;left: auto;}

.footer {background: url('../img/bannerbgy.png') repeat-y 100% 50%; background-color: #fbaf17; padding-top: 70px; padding-bottom: 70px; color: #762f0b;}

.footer-title {margin-top: 30px; padding-bottom: 15px; border-bottom: 1px solid #762f0b; margin-bottom: 20px;}
.fitem {width: 100%; float: left; margin-bottom: 11px;}
.flabel {width: 65px; float: left;}
.fbody {float: left;}
.footer-body {border-bottom: 1px solid #762f0b; width: 100%; float: left;}
.footer-logo {margin-bottom: 118px;}

.fmenu {list-style: none; margin-top: 30px;}
.fmenu li {line-height: 24px;}
.fmenu a {text-transform: uppercase;  color: #762f0b;}

.lang {display: inline-block;position: relative;margin-top: 14px;color: #fff;background: url('../img/dropdown.png') no-repeat 100% 5px;padding-right: 15px;cursor: pointer;height: 20px;line-height: 20px;display: block;float: right;}
.lang-list {display: none; position: absolute;top: 20px;z-index: 9;background: #fff;color: #000;width: 80px;right: 0;}
.lang span {padding-left: 3px;}
.lang:hover .lang-list {display: block;}
.lang-list ul {list-style: none;width: 80px;float: left;padding: 0;text-align: left;margin: 0;}
.lang-list li {float: left;width: 100%;padding-top: 3px;padding-bottom: 3px;}
.lang-list li span {padding-left: 3px;}
.lang-list li a {padding-left: 10px;}

.archive-news-item {background: #fff; float: left; margin-bottom: 30px;}
.archive-news-item img {margin-bottom: 10px; float: left;}
.archive-news-item h3, .archive-news-item p, .archive-news-item .readmore-news { padding-right: 15px; padding-left: 15px; margin-bottom: 5px; float: left;}
.archive-news-item .readmore-news {padding-bottom: 5px;text-transform: uppercase;margin-top: 7px;background: url('../img/page-li.png') no-repeat 100% 2px;}
.readmore-news a {padding-right: 4px;}

.single-news-body {background: #fff;padding-top: 30px;padding-bottom: 35px;margin-top: -60px;z-index: 999;}
.single-news-title {width: 80%; text-align: center; margin: 0 auto; font-size: 23px; line-height: 30px; padding-bottom: 20px; background: url('../img/htab.png') no-repeat 50% 100%; margin-bottom: 25px; color: #762f0b;}

.single-news-social {text-transform: uppercase; color: #60666e; padding-top: 20px;}
.single-news-social span, .single-news-social a {margin-right: 20px;}
.single-news-social a {font-size: 17px;}

.single-news-related {margin-bottom: 70px;}
.single-news-related-title {text-transform: uppercase; margin-top: 24px; margin-bottom: 24px;}
.single-news-related .jitem .col-sm-3 {padding: 0;}
.single-news-related .jitem h3 {padding: 15px 0 15px 0;}
.single-news-related-content {position: relative;}
.single-news-jcarousel {width: 92%;margin-left: 5%;}

.single-news-jcarousel .jitem {background: #fff;float: left;width: 96%;}
.single-news-jcarousel .jitem:hover {background: #762f0b; color: #fbaf17}
.single-news-jcarousel .jitem:hover a {color: #fbaf17;}
.single-news-related .jcarousel-control-prev, .single-news-related .jcarousel-control-next {top: 25%; margin-top: 0; background: url('../img/direction.png') no-repeat 0 0; width: 30px; height: 30px; z-index: 999;}
.single-news-related .jcarousel-control-prev {background-position: 0 0; left: 0;}
.single-news-related .jcarousel-control-next {background-position: -86px 0;right: 0;left: auto;}

.single-pages-body {padding-bottom: 0;}
.single-pages-bg {background: #fff url('../img/htab.png') repeat-x 0 100%;}
.single-page-slide-title {text-transform: uppercase;color: #762f0b;margin-top: 24px;margin-bottom: 10px;padding-bottom: 20px;font-size: 17px;}
.single-page-title {text-transform: uppercase;}
.single-page-body {padding-left: 50px;padding-right: 50px;float: left; padding-bottom: 35px;}
.single-page-sidebar {list-style: none; padding: 0;}
.single-page-sidebar li {float: left; width: 100%; height: line-height: 20px; padding-top: 12px; padding-bottom: 10px; border: 1px solid #9d9fa1; border-top: none; background: #f5f6f6; text-transform: uppercase; background: url('../img/page-li.png') no-repeat 22px 15px;}
.single-page-sidebar li:first-child {border-top: 1px solid #9d9fa1;}
.single-page-sidebar li.active, .single-page-sidebar li:hover {background: #9d9fa1 url('../img/page-li.png') no-repeat 22px 15px;}
.single-page-sidebar a {padding-left: 50px; display: block; color: #333;}


.single-tntagri {padding-left: 50px; padding-right: 50px; padding-bottom: 50px;}
table.tnt-agri {width: 100%; text-transform: uppercase;}
table.tnt-agri tr { line-height: 20px;}
table.tnt-agri .heading {background: #fbaf17; border: 1px solid #fbaf17 !important; text-align: center;}
table.tnt-agri td {padding: 10px;}

.bds-proj {background: #e4e5e4; margin-top: 45px;}
.bds-proj .proj-jcarousel-wrap {margin-bottom: 40px;}
.bds-proj .bds-readmore {text-align: center; margin-bottom: 55px;}
.bds-proj .bds-readmore a {background: #fbaf17; display: inline-block; height: 40px; line-height: 40px; text-transform: uppercase; color: #fff; padding: 0 20px; font-size: 12px;}

/* #mobile-menu {display: none;} */


.bld-item-name {color: #fbaf17; font-size: 12px; margin-bottom: 15px;}
.bld-item-des {padding-bottom: 15px; padding-right: 15px;}

.cctc-slider {text-align: center;position: relative;}
.cctc-slider img {margin: 20px auto 10px;}
.cctc-slider h3 {margin-bottom: 5px;}
.cctc-slider h3 a {font-size: 12px !important;}

.cctc-slider .jcarousel-control-prev, .cctc-slider .jcarousel-control-next {top: 35%; margin-top: 0; background: url('../img/direction.png') no-repeat 0 0; width: 30px; height: 30px; z-index: 999;}
.cctc-slider .jcarousel-control-prev {background-position: 0 0; left: 0;}
.cctc-slider .jcarousel-control-next {background-position: -86px 0;right: 0;left: auto;}

.cocau-tabs {background: #f6f6f6; width: 92%; margin-left: 5%; margin-top: 30px; margin-bottom: 50px; float: left; padding-bottom: 25px;}
.cocau-tab-list {text-transform: uppercase; text-align: center; width: 100%; float: left;}
.cocau-tab-list {list-style: none;}
.cocau-tab-list li {display: inline-block; padding: 0 25px; margin-top: 20px; margin-bottom: 20px;}
.cocau-tab-list li a {color: #762f0b;}
.cocau-tab-list li.active a {color: #fbaf17;}
.cocau-tab-body {padding: 0 10%;}
.cocau-tab-body ul {list-style: none; margin: 0; padding: 0; width: 100%; float: left;}
.cocau-tab-body li {width: 40%; float: left; margin-right: 10%; line-height: 20px; padding-top: 10px; padding-bottom: 10px; background: url('../img/page-li.png') no-repeat 0 14px; font-size: 14px; border-bottom: 1px solid #b9bbbe;}
.cocau-tab-body a {padding-left: 15px;}

.nongnghiep-body {position: relative;}
.nongnghiep-content {margin-top: 80px; line-height: 24px;}
.nntablist {position: absolute;right: -46px;top: 0;width: 33px;height: 125px;background: url('../img/nntablist-collapse.png') no-repeat 100% 0;}
.nntablist2 {top: 150px; background: url('../img/nntablist-collapse.png') no-repeat 100% 0; overflow: visible;}
.nntablist:hover {width: 180px;right: -46px;background: url('../img/nntablist-collapse.png') no-repeat 100% 0, url('../img/nntablist.png') repeat 0 0;}
.nntablist li {background: url('../img/nntablist.png') repeat 0 0;}
.nntablist ul {list-style: none;padding: 0;margin: 0;width: 148px;display: none;}
.nntablist:hover ul {display: block;}
.nntablist li {border-bottom: 1px solid #9c9fa1; line-height: 40px;}
.nntablist li:last-child {border: none;}
.nntablist a {text-transform: uppercase; padding-left: 10px; color: #762f0b;}
.nn-jcarousel {text-align: center;}
.nn-jcarousel ul {list-style: none;}
.nn-jcarousel li {display: inline-block;}
.nn-jcarousel img {display: block; padding: 0 20px;}
.nn-jcarousel .jitem {width: 88%;}

.nav-list-slider {width: 1200px;}
.nav-list-slider {position: relative;}
.nav-list-slider .jcarousel-control-prev, .nav-list-slider .jcarousel-control-next {position: absolute; top: 0; z-index: 999; width: 26px;}
.nav-list-slider .jcarousel-control-prev {background: #f3f3f4 url('../img/hprev.png') no-repeat 50%;left: 0;top: 15px;height: 100%;}
.nav-list-slider .jcarousel-control-prev:hover {background: #fbaf17 url('../img/hprev.png') no-repeat 50%;}
.nav-list-slider .jcarousel-control-next {background: #f3f3f4 url('../img/hnext.png') no-repeat 50%;right: 0;top: 15px;height: 100%;}
.nav-list-slider .jcarousel-control-next:hover {background: #fbaf17 url('../img/hnext.png') no-repeat 50%;}
.nav-list-jcarousel {width: 92%; margin-left: 4%;}


.lichsu {margin-bottom: 60px;}
.lichsu-bg {margin-bottom: 40px;}

.hanhtrinh-info {max-width: 850px;margin: 0 auto;padding-bottom: 60px;}
.hanhtrinh {margin-bottom: 60px; margin-top: 60px; text-align: center; background: url('../img/dot.png') repeat-x 50%,  url('../img/muiten.png') no-repeat 100% 50%;}
.hanhtrinh span {background: #fff; display: inline-block; padding: 10px 24px; margin-left: 10%;  font-size: 25px; color: #939598; font-weight:100;border: 1px solid #fff;}
.hanhtrinh span.active {border: 1px solid #fbaf17;}

.hanhtrinh-info-body {position: relative;}
.hanhtrinh-info-body img {width: 100%;}

/*.hanhtrinh-info-body .jcarousel-control-prev, .hanhtrinh-info-body .jcarousel-control-next {position: absolute;bottom: 0 !important;z-index: 999;width: 42px;height: 42px; top: auto;}
.hanhtrinh-info-body .jcarousel-control-prev {background: #939598 url('../img/hprev2.png') no-repeat 50%;right: -55px;}
.hanhtrinh-info-body .jcarousel-control-prev:hover {background: #fdb813 url('../img/hprev2.png') no-repeat 50%;}
.hanhtrinh-info-body .jcarousel-control-next {background: #939598 url('../img/hnext2.png') no-repeat 50%;right: -100px;}
.hanhtrinh-info-body .jcarousel-control-next:hover {background: #fdb813 url('../img/hnext2.png') no-repeat 50%;}*/

.hanhtrinh-info-body .jcarousel-control-prev, .hanhtrinh-info-body .jcarousel-control-next {width: 42px;height: 42px;}
.hanhtrinh-info-body .jcarousel-control-prev {background: #939598 url('../img/hprev2.png') no-repeat 50%;}
.hanhtrinh-info-body .jcarousel-control-prev:hover {background: #fdb813 url('../img/hprev2.png') no-repeat 50%;}
.hanhtrinh-info-body .jcarousel-control-next {background: #939598 url('../img/hnext2.png') no-repeat 50%;}
.hanhtrinh-info-body .jcarousel-control-next:hover {background: #fdb813 url('../img/hnext2.png') no-repeat 50%;}

.images-list {list-style: none;width: 100%;padding:  0;}
.images-list li {max-width: 46%; float: left; margin-right: 4%; margin-bottom: 15px;}
.images-list li.last {margin-bottom: 0;}

.nn-slider {font-size: 30px;}
.nn-slider .nivo-caption {line-height: 44px !important;color: #fff !important;text-align: right !important;}

@media all and (min-width: 300px){
    .bld-slider .nivo-caption, .bld-slider .nivo-title {width: 560px; display: block !important; background: none; text-align: left;color: #752f0b;left: 50%;padding-top: 0;margin-left: 0;padding-left: 0;padding-right: 0;}
}

@media all and (max-width: 1300px) {
    .nivo-title {height: 100px; padding-top: 30px; padding-left: 100px; padding-right: 100px;}
.nn-slider {font-size: 20px;}
.nn-slider .nivo-caption {right: 0; left: auto;  line-height: 25px !important;}
.nn-slider {font-size: 25px;}
.nn-slider .nivo-caption {right: 20px; left: auto;  line-height: 30px !important;}
}

@media all and (min-width: 1100px) {
     .bld-slider .nivo-title {top: 120px !important;}
    .bld-slider .nivo-caption {top: 180px !important;}
}

@media all and (max-width: 1100px) {
    .menu li {padding: 0 20px;}
    .nivo-title {display: none !important;}
    .news-jcarousel-wrap .jcarousel-control-prev, .news-jcarousel-wrap .jcarousel-control-next {top: 12%;}
    .proj-jcarousel-wrap .jcarousel-control-prev, .proj-jcarousel-wrap .jcarousel-control-next {top: 20%;}
    .bld-slider .nivo-title {top: 80px !important;}
    .bld-slider .nivo-caption {top: 130px !important;}
.nn-slider {font-size: 20px;}
.nn-slider .nivo-caption {right: 50px; left: auto;  line-height: 30px !important;}
}

@media all and (max-width: 980px) {
    .menu li {padding: 0 15px;}
    .news-jcarousel-wrap .jcarousel-control-prev, .news-jcarousel-wrap .jcarousel-control-next {top: 10%;}
    .proj-jcarousel-wrap .jcarousel-control-prev, .proj-jcarousel-wrap .jcarousel-control-next {top: 15%;}

    .bld-img img {width: 100%;}
    .bld-slider {margin-top: 20px;}
    .bld-item-name, .bld-img {margin-bottom: 10px;}

    .bld-slider .nivo-title {top: 80px !important;}
    .bld-slider .nivo-caption {top: 140px !important;}
.nn-slider {font-size: 20px;}
.nn-slider .nivo-caption {right: 0; left: auto;  line-height: 25px !important;}
}

@media all and (min-width: 980px) {
  .nav .col-xs-6 {padding: 0;}
    .bld-item {position: relative; float: left; margin-bottom: 45px; float: left; min-height: 310px;}
    .bld-title {text-align: left;background: url('../img/htab.png') no-repeat 0 100%;width: 100%;margin-left: 15px;margin-bottom: 40px;}
    .bld-img {position: absolute; top: 36px;}
    .bld-body {width: 80%; float: right; background: #dcddde; border-bottom: 9px solid #fbaf17; padding-left: 110px; min-height: 310px;}
    .bld-slider {margin-top: 60px;}
    .bld-slider .jitem-content {height: 60px; text-align: center; display: table; border: 1px solid #6e6f72;}
    .bld-slider .jitem-content a {display: table-cell;vertical-align: middle;padding: 0 20px; text-transform: uppercase; color: #6e6f72; font-size: 12px;}
    .bld-item-title {padding-top: 36px; margin-bottom: 5px;}

.hanhtrinh-info-body .jcarousel-control-prev, .hanhtrinh-info-body .jcarousel-control-next {position: absolute;bottom: 15px !important;z-index: 999; top: auto;}
.hanhtrinh-info-body .jcarousel-control-prev {right: -55px;}
.hanhtrinh-info-body .jcarousel-control-next {right: -100px;}


}

@media all and (max-width: 768px) {
    .hanhtrinh-info-body .jcarousel-control-prev, .hanhtrinh-info-body .jcarousel-control-next {position: relative;}
    .hanhtrinh {background: none; margin-top: 25px; margin-bottom: 25px;}
    .hanhtrinh-info, .lichsu {padding-bottom: 0;}
    .lichsu-jcarousel {margin-bottom: 30px;}
/*     #mobile-menu {display: block;} */
    .nav .nav-item {padding-right: 15px;font-size: 12px;}
    .mobile-menu-icon {display: block !important;}
    .menu {display: none;}
    .home-kd li {width: 46%;margin-top: 20px;margin-bottom: 25px;}
    .htab {font-size: 16px;line-height: 20px;margin-bottom: 20px;}
    .home-news-jcarousel .jitem {width: 100%;}
    .htab1 {margin-bottom: 15px;}
    .proj-jcarousel-wrap {margin-top: 25px;margin-bottom: 20px;}
    .proj-jcarousel-wrap .jitem {width: 100%;}
    .fmenu {padding: 0; margin-top: 20px; float: left;}
    .footer-logo {margin-bottom: 30px;}
    .footer {padding-top: 25px; padding-bottom: 25px;}
    .home-news-jcarousel {margin-top: 25px; margin-bottom: 25px;}
    
    .news-jcarousel-wrap .jcarousel-control-prev, .news-jcarousel-wrap .jcarousel-control-next, .proj-jcarousel-wrap .jcarousel-control-prev, .proj-jcarousel-wrap .jcarousel-control-next {width: 32px;height: 40px; background-position: -18px -66px;}
    .news-jcarousel-wrap .jcarousel-control-prev, .proj-jcarousel-wrap .jcarousel-control-prev {background-position: -14px -66px !important;}

    .single-news-body {margin-top: 0; padding-bottom: 25px; padding-top: 20px;}
    .single-news-title {width: 100%; font-size: 16px; line-height: 20px; padding-bottom: 15px; margin-bottom: 15px;}

    .single-page-sidebar {margin-bottom: 25px; float: left;}
    .single-tntagri, .single-page-body {padding: 0 15px;}
    .tnt-agri {margin-bottom: 15px;}

    .bds-proj {margin-top: 0;}
    .bds-proj .proj-jcarousel-wrap {margin-bottom: 20px;}
    .bds-proj .bds-readmore {margin-bottom: 25px;}

    .cocau-tabs {margin-bottom: 20px;}
    .cocau-tab-list {text-align: left;margin-top: 20px;width: 100%;margin-left: 0;padding-left: 0;}
    .cocau-tab-list li {padding-top: 5px; padding-bottom: 5px; margin: 0; width: 100%; float: left;}

    .cocau-tab-body {width: 100%; padding-left: 30px; }
    .cocau-tab-body li {width: 100%; margin-right: 0;}
    .nongnghiep-content {margin-top: 30px;}
    .nn-jcarousel .jitem {margin-bottom: 20px; width: 100%;}
    .nntablist:hover {right: 0;}


    .bld-slider .nivo-title {top: 40px !important;}
    .bld-slider .nivo-caption {display: none !important;}
.nn-slider {font-size: 20px;}
.nn-slider .nivo-caption {right: 10px; left: auto;  line-height: 25px !important; top: 10px !important; display: block !important;}
}